:root {
  --black: #1B1F2B;
  --orange-200: #EFA501;
  --green-400: #286562;
  --gray-300: #A6A6A6;
  --beige-200: #F4F0E9;
  --white: #ffffff;
  --orange-100: #F8E6BE;
  --green-300: #3B7E7B;
  --gray-200: #D9DFDB;
  --beige-100: #F9F7F4;
  --green-200: #627F7E;
  --gray-100: #F1F3F2;
  --green-100: #E0F0E5;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 360px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  font-family: "Roboto", sans-serif;
  background-color: var(--beige-100);
}

@media (min-width: 1024px) {
  body {
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  width: 360px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1170px;
  }
}

.page-header {
  background: url("../images/header-img@1x.webp") top center no-repeat;
  background-size: cover;
}

@media (min-width: 1920px) {
  .page-header {
    background-size: auto;
  }
}

.menu {
  display: flex;
  align-items: flex-start;
  padding: 32px 21px;
  font-size: 16px;
  line-height: 23px;
  min-height: 88px;
}

@media (min-width: 1024px) {
  .menu {
    padding: 28px 57px;
    font-size: 20px;
    line-height: 29px;
  }
}

@media (min-width: 1920px) {
  .menu {
    padding: 28px 0;
  }
}

.logo,
.logo svg {
  width: 133px;
  height: 22px;
  fill: #ffffff;
  margin-right: 61px;
}

@media (min-width: 1024px) {
  .logo,
  .logo svg {
    width: 182px;
    height: 32px;
    margin-right: 82px;
  }
}

@media (min-width: 1920px) {
  .logo,
  .logo svg {
    margin-right: 181px;
  }
}

.navigation {
  display: none;
}

@media (min-width: 1024px) {
  .navigation {
    display: block;
    margin-right: 82px;
  }
}

@media (min-width: 1920px) {
  .navigation {
    margin-right: 181px;
  }
}

@media (min-width: 1024px) {
  .navigation__list {
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px 30px;
    max-width: 550px;
    padding-top: 3px;
  }
}

@media (min-width: 1920px) {
  .navigation__list {
    gap: 50px;
  }
}

@media (min-width: 1024px) {
  .navigation__link {
    color: var(--white);
    text-decoration: none;
  }

  .navigation__link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .navigation__link:active {
    opacity: 0.8;
  }
}

.phone {
  max-width: 200px;
}

@media (min-width: 1024px) {
  .phone {
    padding-top: 3px;
  }
}

.phone__link {
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
}

@media (min-width: 1024px) {
  .phone__link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .phone__link:active {
    opacity: 0.8;
  }
}

.intro {
  padding: 52px 21px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .intro {
    padding-top: 119px;
    padding-bottom: 119px;
  }
}

.intro__heading {
  text-align: center;
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 40px;
  letter-spacing: 0.68px;
}

@media (min-width: 1024px) {
  .intro__heading {
    font-size: 96px;
    line-height: 105px;
    margin-bottom: 50px;
    letter-spacing: 1.92px;
  }
}

.intro__text {
  margin: 0;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .intro__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 50px;
    padding-right: 260px;
    padding-left: 260px;
  }
}

.intro__link {
  font-size: 16px;
  background-color: var(--white);
  line-height: 23px;
  color: var(--black);
  align-self: center;
  padding: 5px 20px;
}

@media (min-width: 1024px) {
  .intro__link {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
  }

  .intro__link:hover {
    background-color: var(--orange-200);
    color: var(--white);
  }

  .intro__link:active {
    background-color: var(--orange-100);
    color: var(--black);
  }
}

.button {
  display: inline-block;
  border: none;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}

.h2-heading {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
}

@media (min-width: 1024px) {
  .h2-heading {
    font-size: 59px;
    font-weight: 700;
    line-height: 73px;
  }
}

.tours {
  color: var(--black);
  padding: 75px 21px 37.5px;
}

@media (min-width: 1024px) {
  .tours {
    padding: 136px 53px 67.5px;
  }
}

@media (min-width: 1920px) {
  .tours {
    padding-left: 0;
    padding-right: 0;
  }
}

.tours__heading {
  margin-bottom: 25px;
  letter-spacing: 0.68px;
}

@media (min-width: 1024px) {
  .tours__heading {
    letter-spacing: normal;
    margin-bottom: 27px;
  }
}

.tours__filter {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  list-style: none;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 49px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media (min-width: 1024px) {
  .tours__filter {
    padding-top: 8px;
    margin-bottom: 106px;
    gap: 30px;
  }
}

.tours__filter-link {
  text-decoration: none;
  color: var(--black);
}

.tours__filter-link:focus {
  outline-offset: 5px;
}

@media (min-width: 1024px) {
  .tours__filter-link:hover:not(.tours__filter-link--active) {
    cursor: pointer;
    -webkit-text-decoration: underline var(--black) 2px;
    text-decoration: underline var(--black) 2px;
    text-underline-offset: 10px;
  }

  .tours__filter-link:active:not(.tours__filter-link--active) {
    opacity: 0.6;
  }
}

.tours__filter-link--active {
  -webkit-text-decoration: underline var(--orange-200) 2px;
  text-decoration: underline var(--orange-200) 2px;
  text-underline-offset: 4px;
  color: var(--orange-200);
}

@media (min-width: 1024px) {
  .tours__filter-link--active {
    text-underline-offset: 10px;
  }
}

.tours__filter-item input[type="radio"]:focus-visible + span {
  outline: auto;
  outline-offset: 5px;
}

.tours__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 18px;
}

@media (min-width: 1024px) {
  .tours__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1920px) {
  .tours__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.tours__item {
  position: relative;
  color: var(--white);
  text-decoration: none;
  max-width: 318px;
  min-height: 318px;
  display: grid;
  justify-content: stretch;
  overflow: hidden;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .tours__item {
    max-width: 450px;
    min-height: 531px;
    border-radius: 50px;
  }

  .tours__item:hover .tours__item-image {
    animation-name: zoom-in;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
  }

  .tours__item:hover .tours__item-details,
  .tours__item:focus .tours__item-details {
    background-color: var(--green-400);
  }

  .tours__item:active .tours__item-details {
    background-color: var(--orange-200);
    color: var(--white);
  }
}

@media (min-width: 1920px) {
  .tours__item {
    max-width: 370px;
  }
}

.tours__item-picture {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.tours__item-image {
  border-radius: 20px;
  display: block;
  width: 318px;
  height: 318px;
  -o-object-fit: cover;
  object-fit: cover;
  animation-name: zoom-out;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@media (min-width: 1024px) {
  .tours__item-image {
    width: 450px;
    height: 531px;
  }
}

@media (min-width: 1920px) {
  .tours__item-image {
    width: 370px;
  }
}

.tours__item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  border-radius: 20px;
  padding: 25px;
  padding-bottom: 20px;
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: 1;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}

@media (min-width: 1024px) {
  .tours__item-text {
    padding: 50px;
    padding-bottom: 43px;
  }
}

.tours__item-heading {
  margin: 0 0 13px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.92px;
}

@media (min-width: 1024px) {
  .tours__item-heading {
    font-size: 35px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: normal;
    margin-bottom: 17px;
  }
}

.tours__item-price {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: auto;
  font-weight: 400;
}

.tours__item-details {
  margin-left: -20px;
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  padding: 7px 59px 7px 20px;
  border-radius: 50px;
  position: relative;
}

.tours__item-details::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 18px;
  display: block;
  width: 26px;
  height: 22px;
  background: url("../images/arrow.svg") center no-repeat;
}

@media (min-width: 1024px) {
  .tours__item-details::after {
    top: 10px;
  }
}

.build {
  padding: 37.5px 21px;
}

@media (min-width: 1024px) {
  .build {
    padding: 67.5px 53px;
  }
}

@media (min-width: 1920px) {
  .build {
    padding-right: 0;
    padding-left: 0;
  }
}

.build__heading {
  margin-bottom: 20px;
  letter-spacing: 0.68px;
}

@media (min-width: 1024px) {
  .build__heading {
    letter-spacing: normal;
    margin-bottom: 30px;
  }
}

.build__description {
  color: var(--gray-300);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin: 0;
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .build__description {
    padding: 0 260px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1920px) {
  .build__description {
    padding: 0 385px;
  }
}

.build__form {
  display: grid;
  background-color: var(--white);
  padding: 20px 20px 40px;
  border-radius: 30px;
  row-gap: 30px;
}

@media (min-width: 1024px) {
  .build__form {
    border-radius: 50px;
    padding: 60px;
    grid-template-columns: 1fr 1fr;
    gap: 33px 20px;
    font-size: 20px;
    font-weight: 400;
  }
}

@media (min-width: 1920px) {
  .build__form {
    padding: 70px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}

.build__form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 1024px) {
  .build__form-field:hover {
    cursor: pointer;
  }
}

.build__form-field[for="direction"] .build__form-field-name {
  margin-bottom: 11px;
}

@media (min-width: 1024px) {
  .build__form-field[for="direction"] .build__form-field-name {
    margin-bottom: 8px;
  }
}

.build__form-field-name {
  color: var(--black);
  margin-bottom: 8px;
}

.build__form-input {
  font: inherit;
  background-color: var(--beige-100);
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: var(--black);
}

.build__form-input::-moz-placeholder {
  color: var(--gray-300);
}

.build__form-input::placeholder {
  color: var(--gray-300);
}

@media (min-width: 1024px) {
  .build__form-input {
    padding: 20px;
  }

  .build__form-input:hover,
  .build__form-input:focus {
    background-color: var(--beige-200);
    outline-color: var(--gray-300);
  }
}

.build__form-select {
  padding: 10px;
  padding-right: 46px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/select-mark.svg");
  background-repeat: no-repeat;
  background-position: 240px 7px;
  font: inherit;
  background-color: var(--beige-100);
  border-radius: 10px;
  border: none;
  color: var(--gray-300);
}

.build__form-select--black {
  color: var(--black);
}

@media (min-width: 1024px) {
  .build__form-select {
    padding: 20px;
    padding-right: 46px;
    background-position: 343px 21px;
  }

  .build__form-select:hover {
    cursor: pointer;
    background-color: var(--beige-200);
  }

  .build__form-select:focus {
    background-color: var(--beige-200);
    outline-color: var(--gray-300);
  }
}

@media (min-width: 1920px) {
  .build__form-select {
    background-position: 454px 21px;
  }
}

@media (min-width: 1024px) {
  .build__form-field[for="comment"] {
    grid-column: 1/-1;
  }
}

.build__form-textarea {
  padding: 10px;
  background-color: var(--beige-100);
  border: none;
  border-radius: 10px;
  resize: none;
  min-height: 132px;
  font: inherit;
  color: var(--black);
}

@media (min-width: 1024px) {
  .build__form-textarea {
    padding: 20px;
    min-height: 152px;
  }

  .build__form-textarea:hover,
  .build__form-textarea:focus {
    background-color: var(--beige-200);
    outline-color: var(--gray-300);
  }
}

.build__form-fieldset {
  display: flex;
  -moz-column-gap: 30px;
  column-gap: 30px;
  border: none;
  margin: 0;
  padding: 0;
}

.build__form-fieldset .build__form-field {
  position: relative;
  flex-direction: row;
}

@media (min-width: 1024px) {
  .build__form-fieldset {
    grid-column: 1/-1;
  }
}

.build__form-radio {
  order: -1;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .build__form-radio {
    width: 26px;
    height: 26px;
    margin-right: 11px;
  }
}

input[type="radio"]:checked + .build__form-radio::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--black);
  border-radius: 50%;
}

@media (min-width: 1024px) {
  input[type="radio"]:checked + .build__form-radio::before {
    width: 14px;
    height: 14px;
  }
}

input[type="radio"]:focus-visible + .build__form-radio {
  outline: auto var(--orange-200);
}

@media (min-width: 1920px) {
  input[type="radio"]:focus-visible + .build__form-radio {
    outline-color: var(--black);
    outline-offset: 1px;
  }
}

.build__form-checkbox {
  display: block;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--black);
  margin-right: 10px;
  border-radius: 4px;
}

@media (min-width: 1024px) {
  .build__form-checkbox {
    width: 26px;
    height: 26px;
  }
}

@media (min-width: 1920px) {
  .build__form-checkbox {
    margin-right: 19px;
  }
}

input[type="checkbox"]:checked + .build__form-checkbox {
  background: url("../images/checkbox_mark.svg") center no-repeat;
}

input[type="checkbox"]:focus-visible + .build__form-checkbox {
  outline: auto var(--orange-200);
}

@media (min-width: 1920px) {
  input[type="checkbox"]:focus-visible + .build__form-checkbox {
    outline-color: var(--black);
    outline-offset: 1px;
  }
}

.build__form-field[for="agree"] {
  flex-direction: row;
  color: var(--gray-300);
}

.build__form-field[for="agree"] input {
  top: 21px;
  left: 12px;
}

.build__form-field[for="agree"] a {
  color: var(--black);
  text-decoration: none;
}

@media (min-width: 1024px) {
  .build__form-field[for="agree"] a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .build__form-field[for="agree"] a:active {
    color: var(--green-400);
  }
}

@media (min-width: 1024px) {
  .build__form-field[for="agree"] {
    grid-column: 1/-1;
    font-size: 17px;
    letter-spacing: -0.17px;
  }
}

@media (min-width: 1024px) {
  .build__form-controls {
    margin-top: -2px;
    grid-column: 1/-1;
  }
}

.build__form-button {
  padding: 12px 29px;
  color: var(--white);
  background-color: var(--green-400);
  width: 134px;
  font: inherit;
}

@media (min-width: 1024px) {
  .build__form-button {
    width: 235px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .build__form-button:hover {
    cursor: pointer;
    background-color: var(--green-300);
  }

  .build__form-button:active {
    background-color: var(--green-200);
  }
}

.build__form-button--submit {
  margin-right: 6px;
}

@media (min-width: 1024px) {
  .build__form-button--submit {
    margin-right: 26px;
  }
}

.build__form-button--reset {
  background-color: var(--green-100);
  color: var(--green-400);
}

@media (min-width: 1024px) {
  .build__form-button--reset:hover {
    cursor: pointer;
    background-color: var(--gray-100);
  }

  .build__form-button--reset:active {
    background-color: var(--gray-200);
  }
}

.reviews {
  padding: 37.5px 21px;
}

@media (min-width: 1024px) {
  .reviews {
    padding: 66.5px 53px 67.5px;
  }
}

@media (min-width: 1920px) {
  .reviews {
    padding-right: 0;
    padding-left: 0;
  }
}

.reviews__heading {
  margin-bottom: 20px;
  letter-spacing: 0.68px;
}

@media (min-width: 1024px) {
  .reviews__heading {
    letter-spacing: normal;
    margin-bottom: 30px;
  }
}

@media (min-width: 1920px) {
  .reviews__heading {
    padding: 0 320px;
  }
}

.reviews__description {
  color: var(--gray-300);
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .reviews__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 100px;
    padding: 0 250px;
  }
}

@media (min-width: 1920px) {
  .reviews__description {
    padding: 0 376px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 18px;
}

@media (min-width: 1024px) {
  .reviews__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1920px) {
  .reviews__list {
    gap: 30px;
  }
}

.reviews__item {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--beige-200);
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .reviews__item {
    padding: 40px;
    min-height: 841px;
    border-radius: 50px;
  }
}

@media (min-width: 1920px) {
  .reviews__item {
    min-height: 673px;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 23px;
  color: var(--black);
  font-weight: 700;
}

@media (min-width: 1024px) {
  .reviews__text {
    margin-bottom: 29px;
  }
}

@media (min-width: 1920px) {
  .reviews__text {
    margin-bottom: 28px;
  }
}

.reviews__text:last-of-type {
  margin-bottom: 40px;
}

.reviews__author {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.reviews__author-name {
  margin-bottom: 7px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.92px;
}

@media (min-width: 1024px) {
  .reviews__author-name {
    letter-spacing: normal;
    font-size: 35px;
    font-weight: 500;
    line-height: 43px;
  }
}

.reviews__author-profile {
  text-decoration: none;
  color: var(--black);
}

@media (min-width: 1024px) {
  .reviews__author-profile:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  .reviews__author-profile:active {
    color: var(--orange-200);
  }
}

@media (min-width: 1024px) {
  .reviews__tour {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.17px;
  }
}

.reviews_tour-link {
  color: var(--gray-300);
  text-decoration: none;
}

@media (min-width: 1024px) {
  .reviews_tour-link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  .reviews_tour-link:active {
    color: var(--orange-200);
  }
}

.reviews__author-image {
  display: block;
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .reviews__author-image:hover {
    opacity: 0.8;
  }

  .reviews__author-image:active {
    opacity: 0.6;
  }
}

.gallery {
  width: 360px;
  margin: 0 auto;
  padding: 37.5px 21px;
}

@media (min-width: 1024px) {
  .gallery {
    width: 1024px;
    padding: 67.5px 20px;
  }
}

@media (min-width: 1920px) {
  .gallery {
    width: 1903px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.gallery__heading {
  margin-bottom: 20px;
  letter-spacing: 0.68px;
}

@media (min-width: 1024px) {
  .gallery__heading {
    margin-bottom: 30px;
    letter-spacing: normal;
  }
}

.gallery__description {
  color: var(--gray-300);
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .gallery__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 260px;
    margin-bottom: 101px;
  }
}

@media (min-width: 1920px) {
  .gallery__description {
    padding-right: 700px;
    padding-left: 700px;
  }
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 18px;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .gallery__list {
    row-gap: 30px;
  }
}

.gallery__item--narrow .gallery__image {
  width: 100px;
}

@media (min-width: 1024px) {
  .gallery__item--narrow .gallery__image {
    width: 231px;
  }
}

@media (min-width: 1920px) {
  .gallery__item--narrow .gallery__image {
    width: 348px;
  }
}

.gallery__item--desktop {
  display: none;
}

@media (min-width: 1920px) {
  .gallery__item--desktop {
    display: block;
  }
}

.gallery__item--tablet {
  display: none;
}

@media (min-width: 1024px) {
  .gallery__item--tablet {
    display: block;
  }
}

.gallery__picture {
  display: block;
}

.gallery__image {
  -o-object-fit: cover;
  object-fit: cover;
  width: 150px;
  height: 110px;
  display: block;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .gallery__image {
    width: 315px;
    height: 300px;
    border-radius: 50px;
  }
}

@media (min-width: 1920px) {
  .gallery__image {
    width: 442px;
  }
}

.history {
  padding: 37.5px 21px;
}

@media (min-width: 1024px) {
  .history {
    padding: 69px 53px 67.5px;
  }
}

@media (min-width: 1920px) {
  .history {
    padding-right: 0;
    padding-left: 0;
  }
}

.history__heading {
  margin-bottom: 20px;
  letter-spacing: 0.68px;
}

@media (min-width: 1024px) {
  .history__heading {
    margin-bottom: 30px;
    letter-spacing: normal;
  }
}

.history__description {
  color: var(--gray-300);
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .history__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 250px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1920px) {
  .history__description {
    padding: 0 350px;
  }
}

.history__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
}

@media (min-width: 1024px) {
  .history__list {
    gap: 50px;
  }
}

.history__item {
  position: relative;
  color: var(--white);
  max-width: 318px;
  min-height: 318px;
  display: grid;
  justify-content: stretch;
  overflow: hidden;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .history__item {
    max-width: 918px;
    min-height: 567px;
    border-radius: 50px;
  }

  .history__item:hover .history__item-image {
    animation-name: zoom-in;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
  }
}

@media (min-width: 1920px) {
  .history__item {
    max-width: 1170px;
  }
}

.history__item-picture {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.history__item-image {
  border-radius: 20px;
  display: block;
  width: 318px;
  height: 455px;
  -o-object-fit: cover;
  object-fit: cover;
  animation-name: zoom-out;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@media (min-width: 1024px) {
  .history__item-image {
    width: 918px;
    height: 567px;
  }
}

@media (min-width: 1920px) {
  .history__item-image {
    width: 1170px;
  }
}

.history__item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  z-index: 1;
  padding: 30px;
  grid-row: 1/-1;
  grid-column: 1/-1;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}

@media (min-width: 1024px) {
  .history__item-content {
    padding: 60px;
    padding-bottom: 53px;
  }
}

.history__item-heading {
  margin: 0;
  margin-bottom: 20px;
  padding-right: 120px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.92px;
}

@media (min-width: 1024px) {
  .history__item-heading {
    font-size: 35px;
    font-weight: 500;
    line-height: 43px;
    margin-bottom: 37px;
    letter-spacing: normal;
    padding: 0;
  }
}

.history__item-text {
  margin-bottom: auto;
}

@media (min-width: 1024px) {
  .history__item-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 244px;
  }
}

.history__item-description {
  margin: 0;
  margin-bottom: 23px;
}

@media (min-width: 1024px) {
  .history__item-description {
    margin-bottom: 28px;
    max-width: 554px;
  }
}

.history__item-list {
  margin: 0;
  padding-left: 25px;
  list-style-type: disc;
}

@media (min-width: 1024px) {
  .history__item-list {
    padding-left: 30px;
  }
}

@media (min-width: 1024px) {
  .history__item-links {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.history__item-link {
  position: static;
  text-decoration: none;
  margin-left: -20px;
  color: var(--white);
  font-weight: 700;
  padding: 7px 59px 7px 20px;
  border-radius: 50px;
}

.history__item-link span {
  position: relative;
}

.history__item-link span::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -40px;
  display: block;
  width: 26px;
  height: 22px;
  background: url("../images/arrow.svg") center no-repeat;
}

@media (min-width: 1024px) {
  .history__item-link span::after {
    top: 3px;
  }
}

.history__item-link::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 1024px) {
  .history__item-link {
    margin-right: auto;
  }

  .history__item-link:hover,
  .history__item-link:focus {
    background-color: var(--green-400);
  }

  .history__item-link:active {
    background-color: var(--orange-200);
    color: var(--white);
  }
}

.history__item-social {
  display: none;
}

@media (min-width: 1024px) {
  .history__item-social {
    margin: 0;
    padding: 0;
    z-index: 1;
    list-style: none;
    display: flex;
    gap: 35px;
  }
}

@media (min-width: 1024px) {
  .history__item-social-link {
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
  }

  .history__item-social-link:hover {
    text-decoration: underline;
  }

  .history__item-social-link:active {
    color: var(--orange-200);
  }
}

.lets-go {
  padding: 37.5px 34px 75px;
}

@media (min-width: 1024px) {
  .lets-go {
    padding: 67.5px 126.5px 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 1920px) {
  .lets-go {
    justify-content: center;
  }
}

.lets-go__link {
  display: block;
  width: 130px;
  height: 133px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .lets-go__link {
    width: 370px;
    height: 370px;
    margin: 0;
    border-radius: 50px;
  }

  .lets-go__link:hover {
    opacity: 0.8;
  }

  .lets-go__link:active {
    opacity: 0.6;
  }
}

@media (min-width: 1920px) {
  .lets-go__link {
    margin-right: 30px;
  }
}

.lets-go__picture {
  display: block;
  height: 100%;
  border-radius: 20px;
}

.lets-go__picture img {
  border-radius: 20px;
  width: 130px;
  height: 133px;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .lets-go__picture img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }
}

@media (min-width: 1024px) {
  .lets-go__text {
    width: 371px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.lets-go__heading {
  margin: 0;
  margin-bottom: 20px;
  color: var(--black);
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.92px;
}

@media (min-width: 1024px) {
  .lets-go__heading {
    text-align: left;
    font-size: 35px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: normal;
  }
}

.lets-go__description {
  margin: 0;
  color: var(--gray-300);
  text-align: center;
}

@media (min-width: 1024px) {
  .lets-go__description {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
  }
}

.lets-go__email {
  color: var(--black);
  text-decoration: none;
}

@media (min-width: 1024px) {
  .lets-go__email:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .lets-go__email:active {
    color: var(--green-400);
  }
}

.page-footer {
  background-color: var(--beige-200);
}

.social {
  padding: 21px;
}

@media (min-width: 1024px) {
  .social {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 53px;
  }
}

@media (min-width: 1920px) {
  .social {
    padding-right: 0;
    padding-left: 0;
  }
}

.social__heading {
  margin: 0;
  text-align: center;
  color: var(--gray-300);
  font: inherit;
  margin-bottom: 7px;
}

@media (min-width: 1024px) {
  .social__heading {
    margin: 0;
    margin-right: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

@media (min-width: 1024px) {
  .social__list {
    gap: 25px;
  }
}

.social__item {
  display: flex;
  align-items: center;
}

.social__icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  align-self: flex-start;
}

@media (min-width: 1024px) {
  .social__icon {
    width: 26px;
    height: 26px;
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .social__icon svg {
    width: 26px;
    height: 26px;
  }
}

.social__link {
  text-decoration: none;
  color: var(--black);
}

@media (min-width: 1024px) {
  .social__link {
    font-size: 20px;
    font-weight: 400;
  }

  .social__link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .social__link:active {
    color: var(--orange-200);
  }
}

.sticky {
  background: rgba(243, 239, 232, 0.6);
  -webkit-backdrop-filter: blur(27px);
  backdrop-filter: blur(27px);
  color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  justify-content: center;
}

.sticky .logo svg {
  fill: var(--black);
}

.sticky .navigation__link,
.sticky .phone__link {
  color: var(--black);
}

@media (min-width: 1920px) {
  .sticky {
    padding-left: 365px;
    padding-right: 365px;
  }
}
