:root {
  --black: #1B1F2B;
  --orange-200: #EFA501;
  --green-400: #286562;
  --gray-300: #A6A6A6;
  --beige-200: #F4F0E9;
  --white: #ffffff;
  --orange-100: #F8E6BE;
  --green-300: #3B7E7B;
  --gray-200: #D9DFDB;
  --beige-100: #F9F7F4;
  --green-200: #627F7E;
  --gray-100: #F1F3F2;
  --green-100: #E0F0E5;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 360px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  font-family: "Roboto", sans-serif;
  background-color: var(--beige-100);

  @media (min-width: 1024px) {
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
  }
}