.card-button {
  margin-left: -20px;
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  padding: 7px 59px 7px 20px;
  border-radius: 50px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 18px;
    display: block;
    width: 26px;
    height: 22px;
    background: url("../images/arrow.svg") center no-repeat;

    @media (min-width: 1024px) {
      top: 10px;
    }
  }
}
