.gallery {
  width: 360px;
  margin: 0 auto;
  padding: 37.5px 21px;

  @media (min-width: 1024px) {
    width: 1024px;
    padding: 67.5px 20px;
  }

  @media (min-width: 1920px) {
    width: 1920px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.gallery__heading {
  margin-bottom: 20px;
  letter-spacing: 0.68px;

  @media (min-width: 1024px) {
    margin-bottom: 30px;
    letter-spacing: normal;
  }
}

.gallery__description {
  color: var(--gray-300);
  text-align: center;
  margin: 0;
  margin-bottom: 50px;

  @media (min-width: 1024px) {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 260px;
    margin-bottom: 101px;
  }

  @media (min-width: 1920px) {
    padding-right: 700px;
    padding-left: 700px;
  }
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 18px;
  justify-content: space-between;

  @media (min-width: 1024px) {
    row-gap: 30px;
  }
}

.gallery__item--narrow {
  .gallery__image {
    width: 100px;

    @media (min-width: 1024px) {
      width: 231px;
    }

    @media (min-width: 1920px) {
      width: 348px;
    }
  }
}

.gallery__item--desktop {
  display: none;

  @media (min-width: 1920px) {
    display: block;
  }
}

.gallery__item--tablet {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.gallery__picture {
  display: block;
}

.gallery__image {
  object-fit: cover;
  width: 150px;
  height: 110px;
  display: block;
  border-radius: 20px;

  @media (min-width: 1024px) {
    width: 315px;
    height: 300px;
    border-radius: 50px;
  }

  @media (min-width: 1920px) {
    width: 442px;
  }
}
