.history {
  padding: 37.5px 21px;

  @media (min-width: 1024px) {
    padding: 69px 53px 67.5px;
  }

  @media (min-width: 1920px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.history__heading {
  margin-bottom: 20px;
  letter-spacing: 0.68px;

  @media (min-width: 1024px) {
    margin-bottom: 30px;
    letter-spacing: normal;
  }
}

.history__description {
  color: var(--gray-300);
  text-align: center;
  margin: 0;
  margin-bottom: 50px;

  @media (min-width: 1024px) {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 250px;
    margin-bottom: 100px;
  }

  @media (min-width: 1920px) {
    padding: 0 350px;
  }
}

.history__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;

  @media (min-width: 1024px) {
    gap: 50px;
  }
}

.history__item {
  position: relative;
  color: var(--white);
  max-width: 318px;
  min-height: 318px;
  display: grid;
  justify-content: stretch;
  overflow: hidden;
  border-radius: 20px;

  @media (min-width: 1024px) {
    max-width: 918px;
    min-height: 567px;
    border-radius: 50px;

    &:hover .history__item-image {
      animation-name: zoom-in;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
    }
  }

  @media (min-width: 1920px) {
    max-width: 1170px;
  }
}

.history__item-picture {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.history__item-image {
  border-radius: 20px;
  display: block;
  width: 318px;
  height: 455px;
  object-fit: cover;
  animation-name: zoom-out;
  animation-duration: 300ms;
  animation-fill-mode: forwards;

  @media (min-width: 1024px) {
    width: 918px;
    height: 567px;
  }

  @media (min-width: 1920px) {
    width: 1170px;
  }
}

.history__item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  z-index: 1;
  padding: 30px;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);

  @media (min-width: 1024px) {
    padding: 60px;
    padding-bottom: 53px;
  }
}

.history__item-heading {
  margin: 0;
  margin-bottom: 20px;
  padding-right: 120px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.92px;

  @media (min-width: 1024px) {
    font-size: 35px;
    font-weight: 500;
    line-height: 43px;
    margin-bottom: 37px;
    letter-spacing: normal;
    padding: 0;
  }
}

.history__item-text {
  margin-bottom: auto;

  @media (min-width: 1024px) {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 244px;
  }
}

.history__item-description {
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: 1024px) {
    margin-bottom: 28px;
    max-width: 554px;
  }
}

.history__item-list {
  margin: 0;
  padding-left: 25px;
  list-style-type: disc;

  @media (min-width: 1024px) {
    padding-left: 30px;
  }
}

.history__item-links {
  @media (min-width: 1024px) {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.history__item-link {
  @media (min-width: 1024px) {
    margin-right: auto;
  }
}

.history__item-social {
  display: none;

  @media (min-width: 1024px) {
    margin: 0;
    padding: 0;
    z-index: 1;
    list-style: none;
    display: flex;
    gap: 35px;
  }
}

.history__item-social-link {
  @media (min-width: 1024px) {
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: var(--orange-200);
    }
  }
}
