.phone {
  max-width: 200px;

  @media (min-width: 1024px) {
    padding-top: 3px;
  }
}

.phone__link {
  text-decoration: none;
  color: var(--white);
  font-weight: 400;

  @media (min-width: 1024px) {
    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    &:active {
      opacity: 0.8;
    }
  }
}
